PORT=ADD_PORT

# Database
DB_NAME="ADD_YOUR_DB_NAME_HERE"
DB_USERNAME="ADD_YOUR_DB_USERNAME_HERE"
DB_PASSWORD="ADD_YOUR_DB_PASSWORD_HERE"

# Postgres
DATABASE_URL="postgresql://ADD_YOUR_DB_USERNAME_HERE:ADD_YOUR_DB_PASSWORD_HERE@localhost:5433/ADD_YOUR_DB_NAME_HERE"


# Redis
REDIS_URL="redis://localhost:6379"

JWT_SECRET="ADD_YOUR_JWT_SECRET_HERE"